@import 'tailwindcss';

article {
  p {
    @apply leading-6 my-8;
  }

  img {
    @apply border border-gray-400 border-dashed my-8;
  }

  pre {
    @apply bg-gray-200 p-4 my-8;
  }

  pre code {
    @apply text-sm;
  }

  h1 {
    @apply text-2xl font-bold my-8!;
  }

  h2 {
    @apply text-xl font-bold my-8!;
  }

  h3 {
    @apply text-lg font-bold my-8!;
  }

  h4 {
    @apply text-base font-bold my-8!;
  }

  a {
    @apply text-blue-600 underline;
  }

  hr {
    @apply my-8 border-t border-gray-400! border-dashed!;
  }

  li {
    @apply flex items-center gap-2;
  }
  li div p {
    @apply my-0!;
  }

  blockquote {
    @apply border-l-4 border-gray-400 pl-4 my-8;
  }
}